@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Black.ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  @apply text-dark dark:text-light;
}

.feature-scroll {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.feature-scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    max-width: 7px;
    transition: all 0.3s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease-in-out;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
  }
}